.contact-form {
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
    border: 1px solid #3a3a3a;
    border-radius: 8px;
    background-color: rgba(10, 10, 10, 0.6);
}

.contact-form .footer-interface {
    padding-right: 2rem;
    padding-left: 2rem;
    width: 80%;
    margin: 1rem auto;
  }
