
.header {
    position: fixed;
    background-image: linear-gradient(to bottom, 
    rgba(0, 0, 0, 0.8) 50%, /* Start the darker color at 50% down */
    rgba(0, 0, 0, 0.0) 100% /* End with transparent at the bottom */
);
    display: flex;
    flex-direction: row;
    height: 15%;
    width: 100%;
    z-index: 2;
    opacity: 0;
    transform: translateY(-125%);
}

.header-logo {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    background-color: white;
}

.header-text {
    flex: 1;
    text-align: left;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 20px;
}

.header-text h1 {
    font-size: 4rem;
    margin-top: 0;
}

.header-text p {
    font-size: 1.5rem;
    transform: translateY(-100%);
}

.header-menu {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    flex: 1;
}

.header-menu a {
    color: #CCC;
    text-decoration: none;
    margin-top: 10%;
    margin-bottom: auto;
}

.goDown {
    animation: goDown 3s ease-in-out forwards;
}

@keyframes goDown {
    50%{
        transform: translateY(20%);
        opacity: 0.2;
    }
    100% {
        transform: translateY(0) ;
        opacity: 1;
    }

}