
.header {
    position: fixed;
    background-image: linear-gradient(to bottom, 
    rgba(0, 0, 0, 0.8) 50%, /* Start the darker color at 50% down */
    rgba(0, 0, 0, 0.0) 100% /* End with transparent at the bottom */
);
    display: flex;
    flex-direction: row;
    height: 15%;
    width: 100%;
    z-index: 2;
    min-width: 1280px;
}

.header-logo {
    border-radius: 50%;
    width: 150;
    height: 150px;
    margin: 0 auto;
    display: block;
}

.header-text {
    flex: 1;
    text-align: left;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 20px;
}

.header-text h1 {
    font-size: 4rem;
    margin-top: 0;
}

.header-text p {
    font-size: 1.5rem;
    transform: translateY(-100%);
}

.header-menu {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    flex: 1;
}

.header-menu a {
    color: #CCC;
    text-decoration: none;
    margin-top: 10%;
    margin-bottom: auto;
}